@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Special+Elite&display=swap');

/* Background Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #E2DDDC;
    width: 100%;
}

.content {
    background-color: #EFF4F0;
    width: 75%;
    margin: 0 auto;
    background-position: center;
    padding: 5%;
}

/* This line of code was provided by Anthony O'Brien through Slack to fix a bug */
.content:after {
    content: "";
    display: table;
    clear: both;
}


/* Heading Styling */
.head {
    background-color: #305356;
    color: #eed202;
    width: 100%;
    height: 120px;
}

.main-heading {
    font-family: 'Special Elite', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 0;
}

.slogan {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3vh;
    font-weight: normal;
}


/* Navigation Bar Styling */
#nav-bar-content li {
    background-color: #EFF4F0;
    display: inline-block;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    margin: 8px 1vw;
}    

#nav-bar-content a {
    color: #36454F;
    vertical-align: text-top;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#nav-bar-content {
    text-align: center;
    background-color: #9FB396;
    height: 40px;
}


/* Text and Image Styling - Home Page */
/* intro Text */
.text-style {
    color: #383838;
    padding: 1rem;
}

.text-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Special Elite', sans-serif;
    font-size: 47px;
    padding-bottom: 1rem;
    color: #383838;
}

.text-style p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 3rem 5% 0 5%;
    color: #383838;
}

.text-style h3 {
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #383838;
    padding: 2rem 0;
}

#intro-details {
    font-size: 16px;
    padding: 1rem 0 20px 5%;
    font-weight: 500;
}


/* Main Text on Homepage */
/* The State of the World */
.text-left {
    width: 45%;
    padding: 1rem 2.5% 0;
    border: 20px solid #DFE7DE;
    float: left;
    background-color: #DFE7DE;
    color: #383838;
}

.world-news h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.world-news p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 16px;
    padding: 20px 20px 0 20px;
}


/* News Feed */
.text-right {
    width: 45%;
    float: right;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    background-color: #DFE7DE;
    padding: 1rem 2.5% 18px;
}

.news-feed h2 {
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #383838;
    padding: 1rem 1rem 0;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-decoration: underline;
}

.news-blurb {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
}

.news-date {
    font-size: 12px;
    font-style: italic;
}

.text-right img {
    width: 100%;
    float: right;
    height: auto;
    padding-top: 33px;
}

.main-body {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 4rem;
}

span {
    font-style: italic;
    font-weight: bolder;
}


/* Twitter Feed */
.tweets img {
    max-width: 90%;
    padding: 1rem 5% 5% 5%;
    text-align: center;
}

.tweets h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    float: left;
    color: #383838;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

.tweets {
    padding: 30px 1% 20px 1%;
    float: left;
    clear: left;
    width: 45%;
    background-color: #DFE7DE;
    box-sizing: border-box;
}


/* Survival Tips Page */
#page-links li {
    background-color: #DFE7DE;
    display: inline-block;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    margin: 10px 1vw;
    border: 2px solid #383838;
}    

#page-links a {
    color: #383838;
    vertical-align: text-top;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#page-links {
    text-align: center;
}

.main-style p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 0 2rem;
    color: #383838;
}

.sub-main h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin: 3rem 1rem 1rem;
    color: #383838;
}

.sub-main h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #383838;
    padding: 1rem;
}

.sub-main p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #383838;
    padding: 1em;
    margin-bottom: 2rem;
}

.main-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #383838;
    padding: 1em 5%;
}

.main-image {
    width: 350px;
    margin-top: 2rem;
    border-radius: 20px;
    border: 1px solid #383838;
    margin-bottom: 1rem;
}

.wide-image {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
    border: 1px solid #383838;
}

.video {
    width: 80%;
    margin: 20px 10% 3rem;
}


/* Camp Setup Page */
.order-list {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 10px 5%;
}

.unorder-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px 5% 50px;
}

.unorder-list li {
    padding-top: 20px;
}


/* Competition Page -  */
.comp-banner {
    width: 100%;
}

.h2-style {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 2rem 0;
    text-transform: capitalize;
    text-decoration: underline;
}

legend {
    font-family: 'Open Sans', sans-serif;
}

/* Competition Page Layout - Desktop */
.form-left {
    width: 45%;
    border: 20px solid #DFE7DE;
    float: left;
    background-color: #DFE7DE;
    color: #383838;
}

.form-right {
    width: 45%;
    border: 20px solid #DFE7DE;
    float: right;
    background-color: #DFE7DE;
    color: #383838;
}

/* Form Submission */
.label {
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    text-align: center;
    margin-top: 2rem;
}

.text-input {
    padding: 30px 10% 0;
}

.input-box {
    color: #383838;
    background-color: #EFF4F0;
    width: 150px;
    margin: 0 0 10px;
    border-radius: 5px;
}

#question {
    text-align: left;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 10% 0;
}

.row {
    text-align: left;
}

.label-radio {
    padding-left: 15%;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

.buttons {
    margin: 15px 10% 20px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
}

.entry-submit {
    background-color: #305356;
    color: #eed202;
    width: 150px;
}

.entry-submit:hover {
    background-color: #eed202;
    color: #305356;
}

.entry-reset {
    background-color: #eed202;
    color: #305356;
    width: 150px;
}

.entry-reset:hover {
    background-color: #305356;
    color:#eed202;
}

/* Terms and Conditions */
#terms {
    height: 460px;
    width: 100%;
    overflow: scroll;
    padding-bottom: 30px;
}

.terms-style p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5%;
    color: #383838;
}

.underline {
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #383838;
    padding: 2rem 0;
    text-decoration: underline;
}

.list-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    padding: 10px 8%;
}

/* Contact Page */
textarea {
    font-weight: normal;
    width: 100%;
    height: 207px;
}

.contact-icon {
    width: 20px;
    height: 20px;
    color: #383838;
}

.contact-details {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #383838;
}

.contact-details2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #383838;
    padding-left: 24px;
}

.contact-left {
    width: 45%;
    padding: .75rem;
    border: 20px solid #DFE7DE;
    float: left;
    background-color: #DFE7DE;
    color: #383838;
}

#map-wrapper {
    height: 250px;
    padding: 1rem;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* Form Dump Pages */
.text-dump p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px 30px;
    color: #383838;
}


/* Error Pages */
.error-404 {
    background: url("https://images.unsplash.com/photo-1563702085776-b38c19bc42be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=789&q=80");
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.error-text, .bike-text, .text-500 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Special Elite', sans-serif;
}

.error-text h1 {
    font-size: 250px;
    padding-top: 60px;
}

.error-text h4 {
    font-size: 25px;
    padding-bottom: 40px;
}

.error-text h2 {
    font-size: 30px;
    padding-bottom: 300px;
}

.error-text p{
    font-size: 25px;
    text-align: left;
    padding: 0 15% 20px;
    font-weight: bolder;
}

.error-text ol{
    font-size: 20px;
    text-align: left;
    padding: 20px 18%;
    font-weight: bolder;
}

.error-text li {
    padding-bottom: 10px
}

.error-text a {
    color: greenyellow;
}

.bike-page {
    background-image: url("https://images.unsplash.com/photo-1494376877685-d3d2559d4f82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.bike-text h1 {
    font-size: 100px;
    padding-top: 150px;
    padding-bottom: 400px;
}

.bike-text p{
    font-size: 25px;
    text-align: left;
    padding: 0 15% 20px;
}

.bike-text ol{
    font-size: 20px;
    text-align: left;
    padding: 0 18%;
}

.bike-text a {
    color: greenyellow;
}

.bike-text li {
    padding-bottom: 10px
}

.house-page {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/05/20/53/zombie-1801470_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.text-500 h1 {
    font-size: 200px;
    padding-top: 30px;
}

.text-500 h4 {
    font-size: 20px;
    padding-bottom: 40px;
}

.text-500 h2 {
    font-size: 30px;
    padding-bottom: 350px;
}

.text-500 p{
    font-size: 25px;
    text-align: left;
    padding: 0 15% 20px;
    font-weight: bolder;
}

.text-500 ol{
    font-size: 20px;
    text-align: left;
    padding: 20px 18%;
    font-weight: bolder;
}

.text-500 li {
    padding-bottom: 10px
}

.text-500 a {
    color: greenyellow;
}


/* Footer Styling */
.footer-content {
    background-color: #305356;
    color: #eed202;
    width: 100%;
    height: 40px;
    position: fixed;
    padding: 0.4em;
	text-align: center;
    bottom: 0;
    right: 0;
	z-index: 2;
}

footer a {
    color: #eed202;
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
    padding: 1vh 2vw;
}


/* Back-To-Top Button Configuration - CSS code found on https://secluded.site/adding-a-better-scroll-to-top-button-without-javascript/ */
.top-home {
    position: fixed;
    bottom: 5rem;
    right: 5%;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    padding: .5px;
    border-radius: 8px;
    justify-content: center;
    background: #EFF4F0;
    color: #305356;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}


/* Media Queries */
/* For large screens sizes 1200px wide and up */
@media screen and (min-width: 1200px) {
    .ham-menu {
        display: none;
    }
}

/* For large to medium screens sizes 1200px wide and down */
@media screen and (max-width: 1200px) {
    .nav-bar{
        display: none;
    }

    .nav-bar {
        display: none;
    }

    /* Hamburger Menu - Code adapted from Mark Caron's work on https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */
    .menu-toggle {
        display: inline-block;
        padding: .50em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #eed202;
        background-color: #9FB396;
        width: 100%;
    }

    .fa {
        background-color: #305356;
        padding: 0.5em;
        border-radius: 2px;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #9FB396;
    }

    .hamburger-menu {
        position: absolute;
        display: none;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease, box-shadow 0.3s ease;
        z-index: 999;
    }

    .hamburger-menu ul {
        list-style: none;
        margin: 1.5vh 1vw;
        padding: 2.5em 0 0;
        box-shadow: -8px 0 8px #305356;
        min-height: 100%;
        width: 200px;
        background: #305356;
        
    }

    .hamburger-menu a {
        display: block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        color: #eed202;
        text-decoration: none;
        border-bottom: 1px solid #383838;
    }

    .hamburger-menu li:first-child a {
        border-top: 1px solid #383838;
    }
    
    .hamburger-menu a:hover,
    .hamburger-menu a:focus {
        border-radius: 2px;
        padding: .75em;
    }
    
    .hamburger-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Interactive part of hamburger menu */

    .hamburger-menu:target,
    .hamburger-menu[aria-expanded="true"] {
        display: block;
        left: 0;
        outline: none;
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .hamburger-menu:target .menu-close,
    .hamburger-menu[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }
    
    .hamburger-menu:target ul,
    .hamburger-menu[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }

    .hamburger-menu:target + .backdrop,
    .hamburger-menu[aria-expanded="true"] + .backdrop{
        position: absolute;
        display: block;  
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #000;
        background: rgba(0,0,0,.85);
        cursor: default;
    }

    @supports (position: fixed) {
        .hamburger-menu,
        .hamburger-menu:target + .backdrop,
        .hamburger-menu[aria-expanded="true"] + .backdrop{
            position: fixed;
        }
    }

    /* Banner Heading and Introduction */
    .intro-text h1 {
        font-size: 40px;
    }
    .main-heading {
        font-size: 40px;
    }

    .slogan {
        font-size: large;
        padding-bottom: 1rem;
    }

    .intro-text h1 {
        font-size: 25px;
        padding: 1em 0 0;
    }

    .intro-text p {
        font-size: 18px;
        padding: 2em 0 0 ;
    }

    #intro-details {
        font-size: 14px;
        padding-bottom: 1rem;
    }

    .intro-text {
        padding: 0;
    }

    /* News Feed, Tweets and World News */
    .main-body {
        padding-top: 2rem;
    }

    .text-left {
        width: 100%;
        padding: 0;
    }

    .world-news h2 {
        padding-bottom: 1em;
        font-size: 30px;
    }

    .world-news p {
        padding: 1rem 0;
    }

    .text-right {
        width: 100%;
        padding-bottom: 2rem;
    }

    .news-feed h2 {
        padding-bottom: 1rem;
        padding-bottom: 2rem;
    }

    .news-feed img {
        padding-top: 0;
        border: 10px solid #383838;
    }

    .tweets {
        width: 100%;
        padding-top: 1rem;
    }

    .tweets h2 {
        width: 95%;
        text-align: center;
        padding: 1rem 0;
    }

    .tweets img {
        max-width: 100%;
        padding: 0;
        border: 10px solid #383838;
        margin: 1rem 0;
    }

    .contact-left {
        width: 100%;
        padding: 1.5%;
    }

    /* Error Pages */


    .error-text h1 {
        font-size: 200px;
        padding-top: 100px;
    }
    
    .error-text h2 {
        font-size: 25px;
        padding-bottom: 350px;
    }
    
    .error-text p{
        font-size: 20px;
        text-align: center;
        padding: 0 10% 15px;
    }
    
    .error-text ol{
        font-size: 18px;
        padding: 20px 15%;
    }
    
    .bike-page {
        height: 1100px;
    }
    
    .bike-text h1 {
        font-size: 90px;
        padding-top: 100px;
        padding-bottom: 400px;
    }
    
    .bike-text p{
        font-size: 20px;
        text-align: center;
        padding: 0 10% 20px;
    }
    
    .bike-text ol{
        font-size: 18px;
        padding: 0 15%;
    }
    
    .bike-text li {
        padding-bottom: 10px
    }
    
    .house-page {
        height: 1100px;
    }

    .h1-500 {
        font-size: 150px;
        padding-top: 60px;
    }
    
    .h4-500 {
        font-size: 18px;
    }

    .text-500 h2 {
        font-size: 25px;
        padding-bottom: 350px;
    }
    
    .text-500 p{
        font-size: 20px;
        text-align: center;
        padding: 0 10% 15px;
    }
    
    .text-500 ol{
        font-size: 18px;
        padding: 20px 15%;
    }
}

/* For tablets screens 950px wide and down */
@media screen and (max-width: 950px) {
    .content {
        width: 90%;
    }
    
    .text-heading {
        font-size: 40px;
    }

    .world-news h2 {
        padding-bottom: 1em;
        font-size: 30px;
    }

    .news-feed h2 {
        padding-bottom: 1rem;
        font-size: 30px;
    }

    .tweets h2 {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size: 30px;
    }
    .tweets img {
        width: 95%;
    }

    /* Competition Page */
    .form-left {
        width: 100%;
        padding: 0;
    }

    .form-right {
        width: 100%;
        padding: 0;
    }

    /* Error Pages */
    .error-404 {
        height: 1100px;
    }

    .error-text h1 {
        font-size: 150px;
        padding-top: 100px;
    }
    
    .error-text h4 {
        font-size: 18px;
    }

    .error-text h2 {
        font-size: 25px;
        padding-bottom: 350px;
    }
    
    .error-text p{
        font-size: 16px;
        text-align: center;
        padding: 0 20px 10px;
    }
    
    .error-text ol{
        font-size: 14px;
        padding: 10px 40px;
    }
    
    .bike-page {
        height: 820px;
    }
    
    .bike-text h1 {
        font-size: 60px;
        padding-top: 80px;
        padding-bottom: 280px;
    }
    
    .bike-text p{
        font-size: 16px;
        text-align: center;
        padding: 0 5% 10px;
    }
    
    .bike-text ol{
        font-size: 14px;
        padding: 0 15%;
    }
        
    .house-page {
        height: 820px;
    }

    .h1-500 {
        font-size: 150px;
    }

    .h4-500 {
        font-size: 18px;
    }
}